<% team ||= Team.new %>
<% team_avatar ||= TeamAvatar.new %>

<div class="modal fade" id="add_team<%=team.id%>" tabindex="-1" role="dialog" aria-labelledby="add_team" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content team-modal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				
				<% if team_avatar.new_record? %>
					<%= render :partial => "team_avatars/form", :locals => {:team_avatar => team_avatar, :team => team } %>
				<% else %>
					<%= render :partial => "team_avatars/show", :locals => {:team_avatar => team_avatar, :team => team } %>
				<% end %>
			</div>

			<div class="modal-body">
				<%= form_for(team, :html => { :id => "add-team-form#{team.id}", :class => "add-team-form"}) do |f| %>
					<div class="form-wrap">
						<div class="row form-row form-group">
							<div class="col-md-12">
								<input type="text" id="team_name" name="team_name" class="form-control" placeholder="Team Name" value="<%= team.name %>" />
							</div>
							<div class="col-md-12 select-container">
								<select name="sport" id="sport" class="source form-control" style="width:100%">
									<option value="">Please Select Sport</option>
									<% SPORTS.each do |sport| %>
										<% if team.sport and (sport.downcase == team.sport.downcase) %>
											<option value="<%= sport %>" selected="selected"><%= sport.capitalize %></option>
										<% else %>
											<option value="<%= sport %>"><%= sport.capitalize %></option>
										<% end %>
									<% end %>
								</select>
							</div>
							<div class="col-md-12">
								<input type="text" name="city" id="city" class="form-control" placeholder="City" value="<%= team.city %>">
							</div>
						</div>
						<div class="row form-row form-group">
							<div class="col-md-12">
								<div class="radio border-sep gender">
									<input id="male<%=team.id%>" type="radio" name="gender" value="male" <%= checked = "checked" if team.gender == "male" %> >
									<label for="male<%=team.id%>">Male</label>
									<input id="female<%=team.id%>" type="radio" name="gender" value="female" <%= checked = "checked" if team.gender == "female" %> >
									<label for="female<%=team.id%>">Female</label>
									<input id="coed<%=team.id%>" type="radio" name="gender" value="coed" <%= checked = "checked" if team.gender == "coed" %> >
									<label for="coed<%=team.id%>">Coed</label>
								</div>
							</div>
						</div>
						<div class="row form-row">
							<div class="col-md-12">
								<div class="radio toggles age-group">
									<input id="adult<%=team.id%>" type="radio" name="age" value="adult" <%= checked = "checked" if team.age == "adult" %> >
									<label for="adult<%=team.id%>">Adult</label>
									<input id="youth<%=team.id%>" type="radio" name="age" class="youth" value="youth" <%= checked = "checked" if team.age == "youth" %>>
									<label for="youth<%=team.id%>">Youth</label>
								</div>
							</div>
						</div>

						<div class="row form-row collapse youth age-limit" <%= "style=display:block" if team.age == "youth" %> >
							<div class="col-md-6 m-b-10">
								<select name="age_from" id="age_from" class="source-nosearch" style="width:100%">
									<option value="">Age From</option>
									<% (4..18).step(1).each do |age_from| %>
										<% if team.age_from == age_from %>
											<option value="<%= age_from %>" selected="selected">
												<%= age_from %>
											</option>
										<% else %>
											<option value="<%= age_from %>"><%= age_from %></option>
										<% end %>
									<% end %>
								</select>
							</div>
							<div class="col-md-6 m-b-10">
								<select name="age_to" id="age_to" class="source-nosearch" style="width:100%">
									<option value="">Age To</option>
									<% (4..18).step(1).each do |age_to| %>
										<% if team.age_to == age_to %>
											<option value="<%= age_to %>" selected="selected">
												<%= age_to %>
											</option>
										<% else %>
											<option value="<%= age_to %>"><%= age_to %></option>
										<% end %>
									<% end %>
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<div class="row form-row">
								<div class="col-md-7">
									<div class="checkbox text-left">
										<input id="public_contact_info<%=team.id%>" type="checkbox" name="public_contact_info" value="true" <%= checked = "checked" if team.public_contact_info %> >
										<label for="public_contact_info<%=team.id%>">
											Allow team to see each others contact info
										</label>
									</div>
								</div>
							</div>
							<div class="row form-row">
								<div class="col-md-12 pull-right">
									<div class="checkbox">
										<% if team.new_record? %>
											<button type="button" class="btn btn-default" data-dismiss="modal">
												Close
											</button>
											<button type="submit" class="btn btn-primary create">
												Create Team
											</button>
										<% else %>
											<input type="hidden" class="team_id" name="team_id" value="<%= team.id %>">
											<button type="button" class="btn btn-default" data-dismiss="modal">
												Close
											</button>
											<button type="button" class="btn btn-danger team-delete" data-dismiss="modal">
												Delete Team
											</button>

											<button type="submit" class="btn btn-success team-update">
												Update Team
											</button>
										<% end %>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>

				<% if team.new_record? %>
					<div id="status">
						<%= render :partial => "teams/team_status", :locals => { :team => team } %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>