<div class="tiles green overflow-hidden full-height" style="max-height:214px">
	<div class="overlayer bottom-right fullwidth">
		<div class="overlayer-wrapper">
			<div class="tiles gradient-black p-l-20 p-r-20 p-b-20 p-t-20">
				<div class="pull-right">
					<a href="#" class="hashtags transparent"> <%= "##{team.sport.downcase}" %> </a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<img src="<%= team_avatar && team_avatar.avatar.url(:thumb) %>" alt="" class="lazy hover-effect-img image-responsive-width">
</div>

<div class="tiles white team-profile">
	<% if team.admin?(current_user) %>
		<div class="controller pull-right"> 
			<a data-toggle="modal" data-target="#add_team<%=team.id%>" class="add-team-modal edit" href="#">
				<i class="fa fa-pencil-square-o"></i> edit
			</a>
		</div>
	<% end %>

	<div class="tiles-body">
		<%= hidden_field_tag "team_id", team.id %>
		<h3><%= team.name.titleize if team.name %></h3>
		
		<p>
			<%= "#{team.gender && team.gender.capitalize} #{team.sport && team.sport.capitalize} - Age: #{team.age_to} - #{team.age_from}" %>
		</p>
		<p><%= team.city.titleize %></p>
	</div>
</div>