<div class="tiles white ">
	<div class="controller pull-right">
		<% if team.admin?(current_user) %>
			<a href="<%= settings_path %>" class="edit"><i class="fa fa-pencil-square-o"></i> edit </a>
		<% end %>
	</div>

	<div class="tiles-body">
		<div class="row">
			<div class="user-comment-wrapper pull-left">
				<div class="profile-wrapper">
					<% pic= team.admin.player_avatars.empty? ? "/users/missing.png" : team.admin.player_avatars.last.avatar(:thumb) %>
					<img src="<%= pic %>" alt="" data-src="<%= pic %>" data-src-retina="<%= pic %>" width="35" height="35">
				</div>

				<div class="comment">
					<div class="user-name text-black bold">
						<%= team.admin.name.titleize if team.admin %>
						<p class="text-black all-caps smaller-text">Organizer</p>
					</div>

					<div class="preview-wrapper">
						<i class="fa fa-phone"></i> <%= team.admin.phone if team.admin %>
					</div>

					<div class="preview-wrapper">
						<i class="fa fa-envelope"></i> <%= team.admin.email if team.admin %>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
 </div>