<div class="title-header">
	<div class="controller pull-right">
		<% if team.admin?(current_user) %>
			<a data-toggle="modal" data-target="#add_player" href="#" class="">
				<i class="fa fa-plus-circle"> </i> Add Player
			</a>
		<% end %>
	</div>
	
	<div class="tiles-title"> TEAM </div>
</div>

<% team.users.each do |player| %>
	<% if team.admin?(current_user) %>
	<a data-toggle="modal" data-target="#add_player<%=player.id%>" class="edit-player pull-right" href="#">
		<i class="fa fa-pencil-square-o"></i>
	</a>
	<% end %>
	<% pic = player.player_avatars.empty? ? "/users/missing.png" : player.player_avatars.last.avatar(:thumb) %>
	<a class="team-member" href="<%= user_path(player) %>">
		<div class="friend-profile-pic">
			<div class="user-profile-pic-normal">
				<img width="35" height="35" src="<%= pic %>" data-src="<%= pic %>" data-src-retina="<%= pic %>" alt="">
			</div>
		</div>
		<div class="friend-details-wrapper">
			<div class="friend-name">
				<% team_user = TeamsUser.where(:user_id => player.id , :team_id =>team.id).first %>
				<%= team_user.first_name.nil? ? player.name.titleize : team_user.first_name + " " +
				team_user.last_name %>
				<%= team.admin?(player) ? " (Organiser)" : "" %>
			</div>
			<div class="friend-description">
				<%= player.email %>
			</div>
		</div>
	</a>
	<%= render :partial => "players/form", :locals => { :player => player , :team =>team } %>
<% end %>
<div class="clearfix"></div>