<% team.events.sort_by{|e| [e.date,e.time]}.group_by(&:date).each do |group| %>
	<% date = group.first.strftime("%A, %b #{group.first.day.ordinalize}") %>
	<% events = group.last %>
	<div class="row">
		<div class="cal-day">
			<% show_date = true %>
			<% events.each do |event| %>
				<% if event.status.nil? || (event.status.include?("cancel") && event.team.admin?(current_user)) %>
					<% if Time.now.to_date < event.date %>
						<% if show_date %>
							<h3><%= date %></h3>
							<% show_date = false %>
						<% end %>
						<div class="e_detail">
							<%= render :partial => "events/event_details", :locals => { :event => event } %>
						</div>	
					<% end %>
					<% if Time.now.to_date == event.date %>
						<% if Time.now.strftime("%I:%M %p")<= event.time.strftime("%I:%M %p") %>
							<% if show_date %>
								<h3><%= date %></h3>
								<% show_date = false %>
							<% end %>
							<div class="e_detail">
								<%= render :partial => "events/event_details", :locals => { :event => event } %>
							</div>
							<% end %>
					<% end %>
					<%= render :partial => "events/form", :locals => { :event => event } %>
				<% end %>	
			<% end %>
		</div>
	</div>
<% end %>