<%= render :partial => "layouts/header" %>

<!-- BEGIN CONTENT -->
<div class="page-container row-fluid team-page">
	<%= render :partial => "layouts/side_panel" %>
	<% team_avatar = @team.team_avatars.last || TeamAvatar.new %>

	<!-- BEGIN PAGE CONTAINER-->
	<div class="page-content">
		<div class="content">
			<div class="row">
				<div class="col-md-3">
					<div class="row team-info">
						<div class="col-xs-12 m-b-20">
							<div class="widget-item team-profile-widget narrow-margin">
								<%= render :partial => "teams/team_profile", :locals => {:team => @team, :team_avatar => team_avatar} %>
							</div>
						</div>

						<div class="col-xs-12 m-b-5">
							<div class="widget-item team-admin-widget narrow-margin">
								<%= render :partial => "teams/team_admin", :locals => {:team => @team} %>
							</div>
						</div>

						<div class="col-xs-12">
							<div class="widget-item narrow-margin">
								<div class="friend-list tiles white">
									<%= render :partial => "teams/team_players", :locals => {:team => @team} %>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="widget-item m-b-15">
						<div class="tiles green " style="max-height:345px">
							<div class="tiles-body">
								<h3 class="text-white m-t-5 m-b-20">Upcoming Events for the 
									<span class="semi-bold">'<%= @team.name.titleize %>'</span>
								</h3>
								<a href="#" class="hashtags transparent"> #Are You In? </a>
								<div class="add-btn pull-right">
									<% if @team.admin?(current_user) %>
										<a data-toggle="modal" data-target="#add_event" href="#" class="btn btn-small btn-border">
											<i class="fa fa-plus-circle"></i> Add Event
										</a>
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<div class="event-wrap team-events-widget">
						<%= render :partial => "teams/team_events", :locals => {:team => @team} %>
					</div>
				</div>

				<div class="col-md-3 team-feed-widget">
					<%= render :partial => "teams/team_feeds", :locals => {:teams => [@team], :allow_user_to_message => true} %>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- for editing team -->
<%= render :partial => "teams/form", :locals => { :team => @team, :team_avatar => team_avatar } %>

<%= render :partial => "teams/form", :locals => { :team => Team.new, :team_avatar => TeamAvatar.new } %>
<%= render :partial => "events/form", :locals => { :event => Event.new} %>
<%= render :partial => "players/form", :locals => { :player => User.new , :team => @team} %>
<%= render :partial => "teams/join_team" %>