<div class="error-body no-top lazy login-background" data-original="/assets/login-bg-2.jpg" >
  <div class="container">
    <div class="row login-container animated fadeInUp">
      <div class="col-md-7 col-md-offset-2 tiles white no-padding">
        <a href="/" class="cancel-btn"></a>
        <div class="p-t-30 p-l-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-b-10"> 
          <h2 class="normal">Sign in to are u in</h2>
          <p>You can use 
            <%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %> 
            , 
            <%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %> 
            or your email to sign in.<br></p>
          <p class="p-b-20">Sign up Now! for webarch accounts, it's free and always will be..</p>
          <button type="button" class="btn btn-cons" id="login_toggle">
            Login
          </button> or&nbsp;&nbsp;
          <button type="button" class="btn btn-cons" id="register_toggle">
            Create an account
          </button>
        </div>

      <% registration = request.path_parameters[:controller].include?('registrations') %>

      <div class="tiles grey p-t-20 p-b-20 text-black">
      
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => "form-login", :class => "animated fadeIn styled"}) do |f| %>

          <%= devise_error_messages! if !registration %>

          

            <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
              <div class="col-md-6 col-sm-6 ">
                <%= f.text_field :login, :id => "email",  :class => "form-control required", :placeholder => "Email" %>
              </div>
              <div class="col-md-6 col-sm-6">
                <%= f.password_field :password, autocomplete: "off", :id => "login_pass", :class => "form-control required", :placeholder => "Password" %>
              </div>
            </div>

            <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
              <div class="col-md-12 ">
                <button type="submit" class="btn btn-primary btn-md btn-cons">
                  Login
                </button>   
              </div>
            </div>  

          <div class="row p-t-10 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
            <div class="control-group col-md-10">
              <div class="checkbox checkbox check-success">
                <a href="#">Trouble login in?</a> &nbsp;&nbsp;
                <%= f.check_box :remember_me, :id => "checkbox1", :value => "1" %>
                <label for="checkbox1">Keep me reminded </label>
              </div>
            </div>
          </div>

        <% end %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :id => "form-register", :class => "animated fadeIn hide-me" }) do |f| %>

          <%= devise_error_messages! if registration %>

          <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
            <div class="col-md-4 col-xs-12">
              <%= f.text_field :name, :id => "name", :class => "form-control required", :placeholder => "Name" %>
            </div>
            <div class="col-md-4 col-xs-12">
              <%= f.email_field :email, :id => "reg_mail", :class => "form-control required", :placeholder => "Email" %>
            </div>

            <div class="col-md-4 col-xs-12">
              <%= f.text_field :phone, :id => "phone", :"data-parsley-type" => "number", :class => "form-control required", :placeholder => "Phone" %>
            </div>
            <div class="col-md-4 col-xs-12">
              <%= f.password_field :password, autocomplete: "off", :id => "reg_pass", :class => "form-control required", :placeholder => "Password" %>
            </div>


            <div class="col-md-4 col-xs-12">
              <%= f.password_field :password_confirmation, autocomplete: "off", :id => "reg_pass", :class => "form-control required", :placeholder => "Confirm Password" %>
            </div>
          </div>  
          <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
            <div class="col-md-12 ">
              <button type="submit" class="btn btn-info btn-md btn-cons">Join us, Free</button>  
            </div>
          </div>
        <% end %>
      </div>
        </div>   
    </div>
  </div>
</div>