<p> Hi <%= (@reciever.name || @reciever.first_name).titleize %> </p>
<p>
	Your organizer <%= @sender.name.titleize %> added you to <%= @team.name %>.<br>
	Your Login Information is:-
	<ul>
		<li>Login email: <%= @reciever.email %></li>
		<li>Temporary Password: <%= @password %></li>
		<li><%= link_to "Click here to sign in", new_user_session_url %></li>
	</ul>
	Your Information is
	<ul>
		<li>First Name: <%= @reciever.first_name %></li>
		<li>Last Name: <%= @reciever.last_name %></li>
		<li>Phone: <%= @reciever.phone %></li>
	</ul>
	
</p>

