<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
        <div class="modal-body">
          <div class="row form-row">
            <div class="col-md-6">
              <%= f.label :first_name %><br>
              <%= f.text_field :first_name %>
            </div>
            <div class="col-md-6">
              <%= f.label :last_name %><br>
              <%= f.text_field :last_name %>
            </div>
          </div>
          <div class="row form-row">
            <div class="col-md-6">
              <%= f.label :phone %><br>
              <%= f.text_field :phone %>
            </div>
            <div class="col-md-6">
              <%= link_to 'Change Password', edit_user_registration_path %><br>
              
            </div>

          </div>
          <div class="row form-row">
            <div class="col-md-12">
              <input id="male" type="checkbox" name="check" value="yes" checked="checked">
              <label for="male">Recieve event sms messages on Phone Number</label>
            </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" >Update</button>
        </div>




  <!-- <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> -->
<% end %>
