<%= render :partial => "layouts/header" %>

<!-- BEGIN CONTENT -->
<div class="page-container row-fluid">
	<%= render :partial => "layouts/side_panel" %>

	<!-- BEGIN PAGE CONTAINER-->
	<div class="page-content">
		<div class="content">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-9">
					<div class=" tiles white col-md-12 no-padding profile-pix">
						<div class="overlayer top-right">
							<div class="overlayer-wrapper">
								<div class="padding-10 ">
									<a href="<%= settings_path %>" class="btn btn-success btn-small">
										<i class="fa fa-pencil"></i>&nbsp;&nbsp; Edit Profile
									</a>
								</div>
							</div>
						</div> 

						<div class="tiles green cover-pic-wrapper">
							<img src="/assets/cover_pic.png" alt="">
						</div>

						<div class="tiles white">
							<div class="row">
								<div class="col-md-3 col-sm-2" >
									<div class="user-profile-pic">
										<%= render :partial => "users/user_avatar", :locals => {:user => @user} %>
									</div>
								</div>

								<div class="col-md-8 col-sm-8 no-padding">
									<div class="profile-name">
										<h2><%= @user.name.titleize %></h2>
										<h6>Member since <%= @user.created_at.strftime("%B %d, %Y") %></h6>
									</div>
								</div>
							</div>
						</div>
					</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="grid simple">
							<div class="grid-title no-border">
								<h4>Your <span class="semi-bold">Profile</span></h4>
							</div>
						<div class="grid-body no-border">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label class="form-label">First Name</label>
										<div class="controls profile-info">
											<p><%= @user.first_name.titleize if @user.first_name %></p>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label class="form-label">Last Name</label>
										<div class="controls">
											<p><%= @user.last_name.titleize if @user.last_name %></p>
										</div>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label class="form-label">Email</label>
										<div class="controls">
											<p><%= @user.email %></p>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label class="form-label">Phone</label>
										<div class="controls">
											<p><%= @user.phone %></p>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label class="form-label">Date of Birth</label>
										<div class="controls">
											<p><%= @user.dob.strftime("%d.%m.%Y") if @user.dob %></p>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label class="form-label">Gender</label>
										<div class="controls">
											<p><%= @user.gender.titleize if @user.gender %></p>
										</div>
									</div>
								</div> 
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<label class="form-label">Password</label>
										<div class="controls">
											<p>*******</p>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="row">
										<div class="col-md-4 col-xs-12">
											<div class="form-group">
												<label class="form-label">City</label>
												<div class="controls">
													<p><%= @user.city.titleize if @user.city %></p>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-xs-12">
											<div class="form-group">
												<label class="form-label">Country</label>
												<div class="controls">
													<p><%= COUNTRIES.collect{|code, name| name.titleize if @user.country and code.downcase == @user.country.downcase }.compact.first %></p>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-xs-12">
											<div class="form-group">
												<label class="form-label">State</label>
												<div class="controls">
													<p><%= STATES.collect{|code, name| name.titleize if @user.state and code.downcase == @user.state.downcase }.compact.first %></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<label class="form-label">Status</label>
										<div class="controls">
											<p>available</p>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<label class="form-label">Facebook Settings</label>
										<div class="controls">
											<p>floriauck</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END PAGE CONTAINER -->
</div>
<!-- END CONTENT -->