<p class="event-ins in">
	<i class="fa fa-check"></i> 
	<a href="#" tabindex="0" class="run-count" data-toggle="popover" data-trigger="focus" title="" data-content="<%= event.users_in %>">
		<strong> <%= event.rsvps.in.count %> </strong> IN
	</a>
</p>

<p class="event-ins maybe">
	<i class="fa fa-question-circle"></i>
	<a href="#" tabindex="0" class="run-count" data-toggle="popover" data-trigger="focus" title="" data-content="<%= event.users_not_sure %>">
		<strong> <%= event.rsvps.maybe.count %> </strong> MAYBE
	</a>
</p>

<p class="event-ins out">
	<i class="fa fa-times-circle"></i>
	<a href="#" tabindex="0" class="run-count" data-toggle="popover" data-trigger="focus" title="" data-content="<%= event.users_out %>">
		<strong> <%= event.rsvps.out.count %> </strong> OUT
	</a>
</p>