<p class="run-question">Are you In?!</p>
<div class="run-btns">
	<div class="toggle-in left source-code">
		I confirm that I can came on <%= event.date.strftime("%A %B #{event.date.day.ordinalize}") if event.date %>, at <%= event.time.strftime('%I:%M %p') if event.time %> at <%= event.team.city if event.team %>.
	</div>
	<button class="btn in-btn btn-success">In</button>
	<div class="toggle-maybe left source-code">
		I am not sure that I can came on <%= event.date.strftime("%A %B #{event.date.day.ordinalize}") if event.date %>, at <%= event.time.strftime('%I:%M %p') if event.time %> at <%= event.team.city if event.team %>.
	</div>
	<button class="btn maybe-btn btn-warning">Maybe</button>

	<div class="toggle-out left source-code">
		I cannot attend event on <%= event.date.strftime("%A %B #{event.date.day.ordinalize}") if event.date %>, at <%= event.time.strftime('%I:%M %p') if event.time %> at <%= event.team.city if event.team %>.
	</div>
	<button class="btn out-btn btn-danger">Out</button>
</div>