<p> Hi <%= (@reciever.name || @reciever.first_name).titleize %> </p>
<p>
	You are being invited by <%= @sender.name.titleize %> to attend event <%= @event.title.titleize %> on <%= @event.date.strftime('%A %d %B, %Y') %> at <%= @team.city.titleize if @team.city %> at <%= @event.time.strftime('%I:%M %p') %>
</p>

<p>
	Are You In <br/>

	<%= link_to "Yes", invitation_response_url(:token => @invitation.token, :status => "in"), :class => "btn btn-primary" %>

	<%= link_to "Maybe", invitation_response_url(:token => @invitation.token, :status => "maybe"), :class => "btn btn-info" %>

	<%= link_to "No", invitation_response_url(:token => @invitation.token, :status => "out"), :class => "btn btn-danger" %>

</p>