<h5> Hi <%= (@invitation.reciever.name || @invitation.reciever.first_name).titleize %> </h5>

<div>
	You are being invited by <%= @invitation.sender.name.titleize %> to attend event <%= @invitation.event.title.titleize %> on <%= @invitation.event.date.strftime('%A %d %B, %Y') %> at <%= @invitation.event.team.city.titleize if @invitation.event.team.city %> at <%= @invitation.event.time.strftime('%I:%M %p') %>
		Event ID is <%= @invitation.event.id %>
</div>

<div>
	Are You In <br/>
	
	<%= link_to "Yes", Bitly.client.shorten(invitation_response_url(:token => @invitation.token, :status => "in")).short_url %>

	<%= link_to "Maybe", Bitly.client.shorten(invitation_response_url(:token => @invitation.token, :status => "maybe")).short_url %>

	<%= link_to "No", Bitly.client.shorten(invitation_response_url(:token => @invitation.token, :status => "out")).short_url %>
</div>

<div style="display:none; display:none !important;">
	If u want to reply on phone then send Event ID [space] your response.
	Your response should be one of the following "in" , "maybe" , "out".Otherwise it not be considered
</div>

