<%= render :partial => "layouts/header" %>

<!-- BEGIN CONTENT -->
<div class="page-container row-fluid">
	<%= render :partial => "layouts/side_panel" %>
	<input type="hidden" name="user_id" id="user_id" value="<%= current_user.id %>" >	

	<!-- BEGIN PAGE CONTAINER-->
	<div class="page-content">
		<div class="content dashboard m-b-10">
			<div class="row">
				<div class="col-md-4 col-sm-12 col-lg-3 m-b-15">
					<select id="source" style="width:100%;">
						<option value="">Select Team to Filter: Viewing All</option>
						<% @teams.each do |team| %>
							<option value="<%= team.id%>"> <%= team.name.titleize if team.name %> </option>
						<% end %>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="visibleoverflow transparent dashboard-event-widget">
						<%= render :partial => "events/user_events", :locals => {:user_events => @events} %>
					</div>
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="grid simple dashboard-schedule-widget">
						<%= render :partial => "events/events_schedule", :locals => {:events => @events} %>	
					</div> <!-- END Schedule -->
	
					<div class="team-feed-widget">
						<%= render :partial => "teams/team_feeds", :locals => {:teams => current_user.teams, :allow_user_to_message => false } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<%= render :partial => "teams/form", :locals => { :team => Team.new, :team_avatar => TeamAvatar.new } %>