<div class="modal fade" id="add_player<%= player.id %>" tabindex="-1" role="dialog" aria-labelledby="add_player" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					
				<% if player.new_record? %>
					<%= render :partial => "player_avatars/form", :locals => {:player_avatar => PlayerAvatar.new } %>
					<h4 id="" class="semi-bold">Add Player.</h4>
				<% else %>
					<h4 id="" class="semi-bold">Edit Player.</h4>
				<% end %>
				
			</div>
			<% form_id = player.new_record? ? "add-player-form" : "" %>
			<%= form_for(player,:html => { :id => form_id}) do |f| %>
				<% team_user = player.new_record? ? team_user = TeamsUser.new : TeamsUser.where(:user => player.id, :team =>team.id).first %>
				<div class="modal-body">
					<div class="row form-row">
						<div class="col-md-6">
							<input type="text" class="form-control" name="first_name" placeholder="First Name" value="<%= team_user.first_name if !team_user.to_s.empty? %>">
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" name="last_name" placeholder="Last Name" value="<%= team_user.last_name if !team_user.to_s.empty? %>">
						</div>
					</div>
					<div class="row form-row">
						<div class="col-md-12">
							<input type="text" class="form-control" name="email" placeholder="E-Mail" value="<%= player.email %>" <%= disabled = "disabled" unless player.email.to_s.empty? %>>
						</div>
					</div>
					<div class="row form-row">
						<div class="col-md-12">
							<input type="text" class="form-control" name="phone" placeholder="Phone" value="<%= player.phone %>"  <%= disabled = "disabled" unless player.phone.to_s.empty? %>>
						</div>
					</div>
					<div class="row form-row">
						<div class="col-md-12">
							<div class="radio no-brd">
								<input id="male-player<%=player.id%>" type="radio" name="gender" value="male" 
								<%= checked = "checked" if player.gender == "male" %> <%= disabled = "disabled" unless player.gender.to_s.empty? %>>
								<label for="male-player<%=player.id%>">Male</label>
								<input id="female-player<%=player.id%>" type="radio" name="gender" value="female" 
								<%= checked = "checked" if player.gender == "female" %><%= disabled = "disabled" unless player.gender.to_s.empty? %>>
								<label for="female-player<%=player.id%>">Female</label>
							</div>
						</div>
					</div>
					<div id="add-player-status" class="text-danger"></div>
				</div>
				<div class="modal-footer">
					<% if player.new_record? %>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" >Add Player</button>
					<% else %>
						<input type="hidden" class="user_id" name="user_id" value="<%= player.id %>">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-danger player-remove" >
							Remove Player
						</button>
						<button type="submit" class="btn btn-primary player-update">
							Update Player
						</button>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>